<ion-content [fullscreen]="true">



  <ion-header >
    <ion-toolbar color="azulduoc">
      <ion-text>        
        <div class="ion-text-center style-h-text">
          Te<ion-text color="amarilloduoc">Llevo</ion-text>App
        </div>
      </ion-text>         
    </ion-toolbar>
  </ion-header>
  

  
  <ion-card >    
    <ion-card-header >       
      <ion-text color="azulduoc" style="font-weight: bold; font-size: 30px;"> <ion-icon name="enter-outline"></ion-icon> Login</ion-text>
    </ion-card-header> 
      <ion-item>
        <ion-input #correo type="text" color="azulduoc" label="Ingrese Usuario:" labelPlacement="floating" placeholder="Ej: jefeyapague@porfavor@porfis.aaa"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input #pass type="password" color="azulduoc" label="Ingrese Contraseña:" labelPlacement="floating" placeholder="Ej: Quierodormir123"></ion-input>
      </ion-item>
      <ion-button color="azulduoc" >Ingresar</ion-button>
      <ion-button color="azulduoc" >Registrarse</ion-button>
      <ion-text color="amarilloduoc" style="font-size: 12px;font-weight: bolder;"  >Recuperar contraseña</ion-text>
  </ion-card>

    <ion-card-content >
      
    </ion-card-content>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="duoc-icon" style="margin-left: 85px; margin-top: 20px;"></div>
  </ion-toolbar>
</ion-footer>

